
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <table id="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Cor</th>
            </tr>
        </thead>
    </table>
</div>





